
project_euler/.ipynb_checkpoints/problem_0001-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0002-checkpoint.ipynb
bayesian_inference/.ipynb_checkpoints/bayes_theorem-checkpoint.ipynb
bayesian_inference/.ipynb_checkpoints/max_likelihood_estimator-checkpoint.ipynb
