
project_euler/.ipynb_checkpoints/problem_0001-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0002-checkpoint.ipynb
bayesian_inference/.ipynb_checkpoints/bayes_theorem-checkpoint.ipynb
bayesian_inference/.ipynb_checkpoints/max_likelihood_estimator-checkpoint.ipynb
bayesian_inference/.ipynb_checkpoints/posterior_pdf_calculation-checkpoint.ipynb
bayesian_inference/.ipynb_checkpoints/odds_ratios-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0003-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0004-checkpoint.ipynb
bayesian_inference/.ipynb_checkpoints/markov_chain_monte_carlo-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0005-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0006-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0007-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0008-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0009-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0010-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0011-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0012-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0013-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0014-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0015-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0016-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0017-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0018-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0019-checkpoint.ipynb
project_euler/.ipynb_checkpoints/problem_0020-checkpoint.ipynb
